.background, .body-card, .body-card-cliente, .card-parcela{
    background-color: rgb(185, 177, 177);
}

tr{
    text-align: center;
}

.footer, .header, .header-card, .header-card-cliente, .header-parcela {
    background-color: rgb(99, 99, 99);
}

.header-card-cliente, .header-parcela{
    color: white;
}