.save{
    margin-right: 5px;
}

.margin-top{
    margin-top: 10px;
}

form{
    margin-top: 30px;
}

.fundo{
    padding: 25px 25px 40px 25px;
    background-color: rgb(54, 50, 48);
    border-radius: 25px;
    color: white;
}

.top{
    margin-top: 120px;
}