<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Quantidade Parcelas</th>
                <th scope="col">Valor da Parcela</th>
                <th scope="col">Total a Pagar</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emprestimos of emprestimos">
                <td> {{ emprestimos.quantidadeParcelas }} </td>
                <td> {{ emprestimos.valorDaParcela }} </td>
                <td> {{ emprestimos.valorTotal }} </td>
                <td>
                    <button type="button" class="btn btn-primary details"
                    (click)="openModal(template, emprestimos)">Detalhes</button>
                    <!-- <button type="button" class="btn btn-danger remove"
                        [routerLink]="['/emprestimo/remover', emprestimos.id]">Remover</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Nome do Cliente: {{emprestimo.cliente.nome}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Id: {{ emprestimo.id }}<br>
        Saldo Atual: {{ emprestimo.cliente.saldoAtual }}<br>
        Quantidade de parcelas: {{ emprestimo.quantidadeParcelas }}<br>
        Valor Parcelas: {{ emprestimo.valorDaParcela }}<br>
        Valor do Emprestimo: {{ emprestimo.valorEmprestimo }}<br>
        <!-- Valor total: {{ emprestimo.valorTotal }}<br> -->
    </div>
</ng-template>