.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(231, 67, 253);
    color: rgb(255, 255, 255);
    text-align: center;
}

@media (max-height: 576px) {
    .footer {
        padding-top: 0px;
    }
} 

@media (min-height: 769px) {
    .footer {
        padding-top: 15px;
    }
} 

/* opção1
rebeccapurple */

/* opção2
rgb(231, 67, 253) */