.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rebeccapurple;
    color: rgb(255, 255, 255);
    text-align: center;
}

@media (max-height: 576px) {
    .footer {
        padding-top: 0px;
    }
}

@media (min-height: 769px) {
    .footer {
        padding-top: 15px;
    }
}