<div class="row">
    <div class="col-md-10">


        <div class="col-md-4">
            <input type="text" class="form-control" id="valorEmprestimo" [(ngModel)]="valorEmprestimo"
                placeholder="Quanto você quer pegar emprestado?">
        </div>


        <div class="col-md-4">
            <input type="text" class="form-control" id="quantidadeParcela" [(ngModel)]="quantidadeParcela"
                placeholder="Quantidade de parcelas">
        </div>

        <div class="form-group margin-top">
            <button type="submit" class="btn btn-primary" (click)="novoEmprestimo()">Salvar</button>
            <button type="button" class="btn btn-success goBack" [routerLink]="['/cliente/list']">Voltar</button>
        </div>

    </div>
</div>