<div class="container">
    <div class="row margin-top">

        <div class="col-1 btn-novo">
            <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['/cliente/new']">Novo Cliente</button>
        </div>
        <div class="col-2 btn-search">
            <input type="text" class="form-control" id="pesquisa" [(ngModel)]="cpf" placeholder="Pesquisar por cpf...."
                mask="000.000.000-00">
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-sm" (click)="carregarLista()">Pesquisar</button>
        </div>

    </div>

    <div class="table-responsive overflow">
        <table class="table table-sm table-striped table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Saldo Atual</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td> {{ cliente.nome }} </td>
                    <td> {{ cliente.cpf | mask:"000.000.000-00"}} </td>
                    <td>R$ {{ cliente.saldoAtual }} </td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"
                            [routerLink]="['/emprestimo/novoEmprestimo', cliente.id]">+ Emprestimo</button>
                        <button type="button" class="btn btn-primary btn-emprestimo btn-sm"
                            (click)="openModal(template, cliente)">Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ cliente.nome }}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Id: {{ cliente.id }}<br>
        Cliente: {{ cliente.nome }}<br>
        Idade: {{ cliente.idade }}<br>
        Escore: {{ cliente.score }}<br>
        Saldo Atual: R$ {{ cliente.saldoAtual }}<br>
    </div>
</ng-template>