<div class="container">
    <button type="button" class="btn btn-secondary novo-cliente" [routerLink]="['/cliente/new']">Novo Cliente</button>

    <div class="d-flex col-8">
        <input type="text" class="form-control" id="pesquisa" [(ngModel)]="cpf" placeholder="Pesquisar por cpf...." mask="000.000.000-00">
        <button type="button" class="btn btn-primary spacing" (click)="filtro()">Pesquisar</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Saldo Atual</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td> {{ cliente.nome }} </td>
                <td> {{ cliente.cpf | mask:"000.000.000-00" }} </td>
                <td> {{ cliente.saldoAtual}} </td>
                <td>
                    <button type="button" class="btn btn-success novo-emprestimo"
                        [routerLink]="['/emprestimo/novoEmprestimo', cliente.id]">Pedir Emprestimo</button>
                    <button type="button" class="btn btn-primary"
                        (click)="openModal(template, cliente)">Detalhes</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ cliente.nome }}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Id: {{ cliente.id }}<br>
        Cliente: {{ cliente.nome }}<br>
        Idade: {{ cliente.idade }}<br>
        Escore: {{ cliente.score }}<br>
        Saldo Atual: R$ {{ cliente.saldoAtual }}<br>
    </div>
</ng-template>