<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form novalidate (ngSubmit)="novoEmprestimo()" [formGroup]="Form">
    
                <div class="form-group">
                    <label class="control-label">Valor Emprestimo</label>
                    <input class="form-control" id="valorEmprestimo" type="text" formControlName="valorEmprestimo" />
                    <span class="text-danger" *ngIf="Form.get('valorEmprestimo')?.invalid">
                        {{ validator.getErrorMessage(Form,"valorEmprestimo") }}
                    </span>
                </div>
    
                <div class="form-group">
                    <label class="control-label">Quantidade de Parcelas</label>
                    <div>
                        <input class="form-control" id="QuantidadeParcelas" type="text"
                            formControlName="QuantidadeParcelas" />
                        <span class="text-danger" *ngIf="Form.get('QuantidadeParcelas')?.invalid">
                            {{ validator.getErrorMessage(Form,"QuantidadeParcelas") }}
                        </span>
                    </div>
                </div>
    
                <div class="form-group margin-top">
                    <button type="button" class="btn btn-primary btn-simular" (click)="openModal(template)"[disabled]="!Form.valid">Simular</button>
                    <button type="button" class="btn btn-success" [routerLink]="['/cliente/list']">Voltar</button>
                </div>
            </form>
        </div>
    </div>

</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Simular</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Valor do Emprestimo: R$ {{ emprestimos.valorEmprestimo }}</p>
        <p>Valor da Parcela: R$ {{ emprestimos.valorDaParcela }}</p>
        <p>Valor Total do Emprestimo: R$ {{ emprestimos.valorTotal }}</p>
    </div>
    <div class="modal-header">
        <button type="submit" class="btn btn-primary" (click)="novoEmprestimo()">Confirmar</button>
        <button type="button" class="btn btn-danger spacing" (click)="modalRef?.hide()">Cancelar</button>
    </div>
</ng-template>