services:
  credemprestimoapi:
    image: emprestimo-api
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80
      DOTNET_ENVIRONMENT: Docker
    volumes:
      - c:\logs\:/app/Data
      - c:\logs\:/app/uploads
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 30s
      retries: 3 
    deploy:
      replicas: 2
    depends_on:
      - sqlserver
    networks:
      - emprestimo-api

  nginx:
    image: nginx:latest
    ports:
      - "80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - credemprestimoapi
    networks:
      - emprestimo-api

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2017-latest
    container_name: emprestimodb
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: "Numsey#2021"
    volumes:
      - c:\dados\volumes\mssql:/var/opt/mssql3
    ports:
      - '1433:1433'
    networks:
      - emprestimo-api
networks:
  emprestimo-api:
    driver:  bridge
