<div class="container margin-top">
  <div class="row">
    <div class="col-sm-4">
      <div class="card top">
        <img class="card-img-top" src="../assets/pessoas.jpg" style="height: 231px;">
        <div class="card-body">
          <p class="card-text">Clientes</p>
          <a class="nav-link" class="btn btn-primary d-grid btn-menu" [routerLink]="['/cliente/list']">Clientes</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card top">
        <img class="card-img-top" src="../assets/emprestimos.jpg" style="height: 231px;">
        <div class="card-body">
          <p class="card-text">Cadastrar Cliente</p>
          <a class="nav-link" class="btn btn-primary d-grid btn-menu" [routerLink]="['/cliente/new']">Novo</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card top">
        <img class="card-img-top" src="../assets/emprestimos.jpg" style="height: 231px;">
        <div class="card-body">
          <p class="card-text">Emprestimos para você</p>
          <a class="nav-link" class="btn btn-primary d-grid btn-menu" [routerLink]="['/emprestimo/list']">Emprestimo</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card top">
        <img class="card-img-top" src="../assets/grafico.png" style="width: 231px;">
        <div class="card-body">
          <p class="card-text">DashBoard</p>
          <a href="#" class="btn btn-primary d-grid btn-menu">Dashboard</a>
        </div>
      </div>
    </div>
  </div>
  



