<div class="container">
    <table table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Quantidade Parcelas</th>
                <th scope="col">Valor da Parcela</th>
                <th scope="col">Total a Pagar</th>
                <th scope="col">Ações</th>
         
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emprestimos of emprestimos">
                <td> {{ emprestimos.id }} </td>
                <td> {{ emprestimos.quantidadeParcelas }} </td>
                <td> {{ emprestimos.valorDaParcela }} </td>
                <td> {{ emprestimos.valorTotal }} </td>
                <td>
                    <button type="button" class="btn btn-primary details" [routerLink]="['/emprestimo/detalhesparcela/',emprestimos.id,emprestimos.clienteId]">Visualizar Parcelas</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
