.details{
    margin-right: 5px;
}

table{
    margin-top: 50px;
    font-size: 12px;
}

@media  (max-height: 892px) {

    .container {
        scale: 0.9;
    }

    .table{
        margin-top: 5px;
    }
}