name: Deploy CI/CD
on:
  push:
    branches:
      - main # executa os testes na branch main
jobs:
  run-tests:
    runs-on: ubuntu-latest
    outputs:
      versão: ${{ steps.docker_build.outputs.tag}}

    steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: setup node
       uses: actions/setup-node@v4
       with:
        node-version: 20

     - name: Install dependencias
       run: npm ci
       working-directory: Emprestimoapp  ## busca o nome onde esta as dependencias

     - name: Build app
       run: npm run build
       working-directory: Emprestimoapp

      ## gera o build da imagem
     - name: Build docker image
       working-directory: EmprestimoApi
       id: docker_build
       run: |
          TAG=$(date +'%Y-%m-%d-%H-%M-%S')
          echo "tag=${TAG}" >> "$GITHUB_OUTPUT"
          docker build -t github-actions-site:$TAG .

    #  - name: Upload artifacts
    #    uses: actions/upload-artifact@v4
    #    with:
    #     name: build-site
    #     path: Emprestimoapp/dist/ ## caminho referente ao github

  deploy:
    needs: [run-tests] ## só inicia o deploy se run-tests der sucesso
    runs-on: ubuntu-latest

    steps:
    #  - name: Download artifacts
    #    uses: actions/download-artifact@v4
    #    with:
    #     name: build-site ## deve ser o mesmo nome da linha 30
    #     path: download-data/ ## salva o download

     - name: Deploy to Server
       run: echo "Deploy to server"
