name: Deploy CI/CD
on: push
jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v4

  deploy:
    needs: [run-tests]
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Build app
       run: echo "Building app"

     - name: Deploy to stage
       run: echo "Deploy to stage" 
