name: Deploy CI/CD
on:
  push:
    branches:
      - main # executa os testes na branch main
jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v4

     ## forçando uma falha  
    #  - name: Install dependencias
    #    run: npm install

     - name: Build app
       run: npm run build

     - name: Upload artifacts
       uses: actions/upload-artifact@v4
       with:
        name: build-site
        path: dist/

  deploy:
    needs: [run-tests] ## só inicia o deploy se run-tests der sucesso
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Build app
       run: echo "Building app"

     - name: Deploy to stage
       run: echo "Deploy to stage" 
