name: Deploy CI/CD
on: push
jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Install dependencias
       run: npm install

  deploy:
    needs: [run-tests] ## sรณ inicia o deploy se run-tests der sucesso
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Build app
       run: echo "Building app"

     - name: Deploy to stage
       run: echo "Deploy to stage" 
